.spotlight {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1900px;
  &__container {
    margin-top: 60px;
  }

  &__productTitle {
    text-align: center;
    font-size: var(--title-xl);
    color: var(--color-gray-800);
    margin-bottom: 35px;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 0 -15px;
    margin-top: -15px;
    margin-bottom: -15px;
  }

  &__card {
    &__wrapper {
      display: block;
      overflow: hidden;
    }
    &:hover {
      .spotlight__card__wrapper {
        background-color: var(--color-gray-200);
      }
      .spotlight__card__image {
        transform: scale(1.05);
      }
    }

    &__image {
      width: 100%;
      height: auto;
      vertical-align: middle;
      transition: transform 0.3s;
    }

    &__body {
      text-align: center;
    }
    &__title {
      color: var(--color-gray-800);
      font-size: var(--title-sm);
    }
    &__context {
      color: var(--color-gray-800);
      font-size: var(--text-sm);
      margin-top: 8px;
    }
  }
}
