.spotlight {
  padding: 0 30px;
  margin: 0 auto;
  max-width: 1900px;

  &__container {
    margin-top: 60px;
  }

  &__productTitle {
    text-align: center;
    font-size: var(--title-xl);
    color: var(--color-gray-800);
    margin-bottom: 35px;
  }

  &__row {
    // display: flex;
    // justify-content: space-between;
    // gap: 30px;
    // margin: 0 -15px;
    // margin-top: -15px;
    // margin-bottom: -15px;
    display: flex;
    margin: 0 -15px;
    flex-wrap: wrap;
    margin-top: -15px;
    margin-bottom: -15px;
  }

  &__col {
    padding-top: 15px;
    padding-bottom: 15px;
    @include minWidth($minMiddleScreen) {
      padding-left: 15px;
      padding-right: 15px;
      flex: 0 0 33.3333333333%;
    }
  }

  &__card {
    &__wrapper {
      display: block;
      overflow: hidden;
    }
    &:hover {
      .spotlight__card__wrapper {
        background-color: var(--color-gray-200);
      }
      .spotlight__card__image {
        transform: scale(1.02);
      }
    }

    &__image {
      width: 100%;
      height: auto;
      vertical-align: middle;
      transition: transform 0.3s;
    }

    &__body {
      text-align: center;
    }
    &__title {
      color: var(--color-gray-800);
      font-size: 20px;
      padding: 10px 0;
    }
    &__context {
      color: var(--color-gray-800);
      font-size: var(--text-sm);
      margin-top: 8px;
    }
  }
}
