.nav__container {
  padding: 7px 25px;
  margin: 0 calc((95 / 1536) * 100vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainArea {
  &__hamburger {
    font-family: "msi-icons" !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    padding: 10px 16px;
    color: #000;
    display: none;
    font-size: 36px;
    cursor: pointer;
    border: none;
    background: none;
    position: relative;

    @include maxWidth($maxMiddleScreen) {
      display: inline-block;
    }
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    img {
      width: $logoIcon;
      display: inline-block;
    }
  }

  &__operation {
    display: flex;
    align-items: center;
    padding: 25px 0;
    gap: 13px;
    img {
      width: $logoHeader;
    }
    @include minWidth($minLargeScreen) {
      margin-left: 50px;
    }
    @include minWidth($minMiddleScreen) {
      margin-left: 0px;
    }
  }
}

.menuAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  font-size: var(--text-md);
  font-weight: 700;
  @include maxWidth($maxMiddleScreen) {
    display: none;
  }
}

.dropdown-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  top: 75px;
  left: 0;
  background-color: white;
  width: 100%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  .menuDropdown {
    &__item {
      padding: 10px 20px;
      text-align: left;

      a {
        width: 100%;
        display: block;
      }
    }
  }
}

.dropdown-menu.show {
  display: flex;
}
