.nav__container {
  padding: 7px 25px;
  margin: 0 calc((95 / 1536) * 100vw);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mainArea {
  &__hamburger {
    display: none;
  }

  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    img {
      width: $logoIcon;
      display: inline-block;
    }
  }
  &__operation {
    display: flex;
    align-items: center;
    padding: 25px 0;
    position: relative;
    gap: 13px;
    img {
      width: $logoHeader;
    }
    @include minWidth($minLargeScreen) {
      margin-left: 50px;
    }
    @include minWidth($minMiddleScreen) {
      margin-left: 0px;
    }
  }
}

.menuAction {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 45px;
  font-size: var(--text-md);
  font-weight: 700;
}
