section.announce
    .announce__container
        .announce__wrapper
            h2.announce__title Announcement
            .announce__contentWrapper
                span.announce__content Chúng tôi vui mừng thông báo rằng chúng tôi sẽ ra mắt Dịch vụ hỗ trợ máy tính từ xa cho người dùng máy tính xách tay MSI tại Việt Nam. Vui lòng bấm vào đây để tìm hiểu thêm.  
                +link("More >")