//- somebug
section.featureOfSmartList 
    h2.featureOfSmartList__productTitle The Future of Smart
    .featureOfSmartList__container
        .featureOfSmartList__row
            a.featureOfSmartList__col
                +smartCard("smart-1", "EV Charger")
            a.featureOfSmartList__col
                +smartCard("smart-2", "Server")
            a.featureOfSmartList__col
                +smartCard("smart-3", "Automotive & Commercial")
            a.featureOfSmartList__col
                +smartCard("smart-4", "FUNTORO")
            a.featureOfSmartList__col
                +smartCard("smart-5", "Autonomous Mobile Robot")
            a.featureOfSmartList__col
                +smartCard("smart-6", "AIoT & Industrial")
            a.featureOfSmartList__col
                +smartCard("smart-7", "Rugged Tablet")