section.odmSpotlight
    h2.odmSpotlight__productTitle Trao quyền cho doanh nghiệp của bạn với các giải pháp AIoT
    .odmSpotlight__container
        .odmSpotlight__row
            .odmSpotlight__col
                a.odmSpotlight__card
                    +odmSpotlightCard("odm-1", "Giải pháp sạc EV", "Sạc thông minh cho doanh nghiệp và gia đình")
            .odmSpotlight__col.relative
                a.odmSpotlight__card
                    +odmSpotlightCard("odm-2", "Robot di động tự động (AMR)", "AI, Tự động hóa và Robotics")
                a.odmSpotlight__card.absolute
                        +odmSpotlightCard("odm-3", "Rugged Tablet", "Dịch vụ thiết kế và sản xuất chuyên nghiệp")
            .odmSpotlight__col.relative
                a.odmSpotlight__card
                    +odmSpotlightCard("odm-4", "Automotive và thương mại", "Đối tác ODM tốt nhất của bạn về Giải pháp AIoT")
                a.odmSpotlight__card.absolute
                    +odmSpotlightCard("odm-5", "AIoT & Giải pháp Công nghiệp", "Cung cấp bo mạch & hệ thống nhúng với sự hỗ trợ lâu dài")
            .odmSpotlight__col.relative
                a.odmSpotlight__card
                    +odmSpotlightCard("odm-6", "Máy chủ, Mạng & IIoT", "Tiền thân là nhà cung cấp phần cứng toàn cầu")
                a.odmSpotlight__card.absolute
                    +odmSpotlightCard("odm-7", "Giải pháp FUTORO", "Dẫn đầu toàn cầu về thông tin giải trí và viễn thông trên xe")
