section.serviceArea 
    .serviceArea__container
        .serviceArea__row
            .serviceArea__col
                +serviceIcon("icon-msi-register", "Đăng kí sản phẩm")
            .serviceArea__col
                +serviceIcon("icon-msi-customer-service", "Hỗ trợ")
            .serviceArea__col
                +serviceIcon("icon-msi-video", "Video")
            .serviceArea__col
                +serviceIcon("icon-msi-dialogue", "Diễn đàn MSI")