section.sliderPart
    .slider
        i.fa-solid.fa-chevron-left.slider__prev
        .slider__wrapper
            .slider__main
                .slider__item
                    +imageJPEG("banner-1")
                .slider__item
                    +imageJPEG("banner-2")
                .slider__item
                    +imageJPEG("banner-3")
                .slider__item
                    +imageJPEG("banner-4") 
        i.fa-solid.fa-chevron-right.slider__next