section.socialMarketing
    .socialMarketing__container
        .socialMarketing__row
            .socialMarketing__col
                +socialMarketing("social-1", "Chương trình tích điểm thưởng MSI", "Start Earning Point And Get Cool Stuff!")
            .socialMarketing__col
                +socialMarketing("social-2", "MSI Insider", "Wednesdays at 8AM PST/16:00 CET")