section.spotlight
    .spotlight__container
        h2.spotlight__productTitle Discover the Latest MSI Innovations
        .spotlight__row
            +spotlightCard("spotlight-1", "Claw A1M","Grip and Game")
            +spotlightCard("spotlight-2", "QD-OLED Series Gaming Monitors","Brighter Colors, Sublime Black Levels")
            +spotlightCard("spotlight-3", "GeForce RTX™ 40 GAMING Series","Play Hard Stay Silent")