* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
}
