extends ../view/layout/layout.pug
block vars
    - var title = "Trang chủ MSI quốc tế"
append head
    link(rel="stylesheet", href="./css/main.css")
block main
    main
        include ../view/home/Slider
        include ../view/home/Announce
        include ../view/home/Spotlight
        include ../view/home/OdmSpotlight
        include ../view/home/FeatureOfSmartList
        include ../view/home/ServiceArea
        include ../view/home/SocialMarketing