.footer {
  background: #fff;
  color: #666;
  border-top: 1px solid #ececec;
  margin-top: 45px;
  &__container {
    max-width: 1330px;
    margin: auto;
    padding: 0 25px;
  }

  &__shortcut {
    padding: 40px 0 45px;
    width: 100%;
    display: flex;
  }

  &__menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__field {
    padding-bottom: 15px;
    color: var(--color-gray-600);
    font-size: var(--link-md);
    font-weight: bold;
  }

  &__submenu {
    transition: 0.5s;
  }

  &__subitem {
    padding: 6px 0;
    a {
      color: var(--color-gray-600);
      font-size: var(--link-sm);
    }
    &:hover {
      text-decoration: underline;
    }
  }

  &__info {
    display: flex;
    border-top: 1px solid #ececec;
    padding: 15px 0 30px 0;
    justify-content: space-between;
    align-items: center;
  }

  &__copyright {
    display: flex;
    align-items: center;
    font-size: 13px;
    img {
      width: 50px;
      object-fit: contain;
      margin-right: 10px;
    }
  }

  &__legal {
    color: var(--color-gray-600);
    font-size: var(--note-md);
  }

  &__service {
    display: flex;
    align-items: center;
    &__item {
      margin-right: 15px;
      img {
        display: inline-block;
        max-width: 16px;
        vertical-align: text-bottom;
      }
      &:hover {
        text-decoration: underline;
      }
    }
    &__link {
      color: var(--color-gray-600);
      font-size: var(--note-md);
    }
  }
}
