:root {
  --primary-font: "Noto Sans", sans-serif;
  --color-black: #000;
  --color-white: #ffffff;
  --color-error: var(--color-red-400);
  --color-gray-100: #fafafa;
  --color-gray-200: #ececec;
  --color-gray-300: #cccccc;
  --color-gray-400: #808080;
  --color-gray-500: #7c7b7b;
  --color-gray-600: #696969;
  --color-gray-700: #333333;
  --color-gray-800: #222222;
  --color-gray-900: #1a1a1a;
  --color-gold-400: #9a8555;
  --color-red-300: #e92c2c;
  --color-red-400: #ea2023;
  --color-red-500: #fe0000;
  --color-green-300: #92b457;
  --color-green-400: #86b000;
  --color-green-500: #82bc00;
  --color-gaming: var(--color-red-500);
  --color-cc: var(--color-gold-400);
  --color-bp: var(--color-gold-400);
  --color-amd: var(--color-green-400);
  --color-alpha: var(--color-green-300);
  --body-bgcolor: var(--color-white);
  --body-text-color: var(--color-gray-700);
  --title-xl: 24px;
  --title-lg: 22px;
  --title-md: 20px;
  --title-sm: 18px;
  --title-xs: 16px;
  --text-xl: 20px;
  --text-lg: 18px;
  --text-md: 17px;
  --text-sm: 16px;
  --text-xs: 15px;
  --note-lg: 16px;
  --note-xl: 14px;
  --note-md: 13px;
  --note-sm: 12px;
  --link--xl: 20px;
  --link-lg: 18px;
  --link-md: 17px;
  --link-sm: 16px;
  --link-xs: 14px;
  --line-height-xl: 2;
  --line-height-lg: 1.8;
  --line-height-md: 1.5;
  --line-height-xs: 1.3;
  --line-height-list: 1.8;
  --line-height-article: 1.8;
}
$maxSmallScreen: 767.98px;
$minMiddleScreen: 768px;
$maxMiddleScreen: 1199.98px;
$minLargeScreen: 1200px;
$logoHeader: 20px;
$logoIcon: 99px;

@media (min-width: 992px) {
  :root {
    --title-xl: 36px;
    --title-lg: 26px;
  }
}
