include ../mixin/mixin
footer.footer 
    .footer-container
        .footer-shortcut
            .footer-column
                +dynamicList("CỘNG ĐỒNG", ["Tin tức từ MSI", "Blog", "Video", "Mạng xã hội", "Diễn đàn", "Đội game", "Chia sẻ từ khách hàng"])
            .footer-column
                +dynamicList("HỖ TRỢ", ["Tải xuống", "Trung tâm thành viên", "Chăm sóc khách hàng trực tuyến", "Địa chỉ trung tâm bảo hành", "Bảo hành", "Hỗ trợ từ xa"])
            .footer-column
                +dynamicList("TIN TỨC", ["Báo chí", "Giải thưởng", "Video", "RSS", "Lời chia sẻ", "Blogs", "Tin tức"])
            .footer-column
                +dynamicList("VỀ MSI", ["Về MSI", "Tầm nhìn và Sứ mệnh", "Câu chuyện Thương hiệu", "Thông tin cho nhà đầu tư", "Không ngừng sáng tạo", "Chứng nhận", "CSR", "Tiêu chuẩn về chất lượng"])
            .footer-column
                +dynamicList("TRUYỀN THÔNG", ["Cẩm nang Sản phẩm", "Hình nền", "Ứng dụng của MSI", "Tính công suất PSU"])
        .footer-bottom
            .footer-bottom-left
                img(src="../image/logo-footer.png", alt="msi", class="footer-bottom-logo")
                p Copyright © 2024 Micro-Star INT'L CO., LTD. All rights reserved.
            .footer-bottom-right
                    ul
                        li Cookie Policy
                        li Chính sách bảo vệ thông tin
                        li Điều khoản sử dụng
                        li Liên hệ
                        li Vietnam / Tiếng Việt