footer.footer
    .footer__container
        nav.footer__shortcut
            ul.footer__menu
                +dynamicList("CỘNG ĐỒNG",["Tin tức từ MSI", "Blog", "Video", "Mạng xã hội", "Diễn đàn", "Đội game", "Chia sẻ từ khách hàng"])
                +dynamicList("HỖ TRỢ", ["Tải xuống", "Trung tâm thành viên", "Chăm sóc khách hàng trực tuyến", "Địa chỉ trung tâm bảo hành", "Bảo hành", "Hỗ trợ từ xa"])
                +dynamicList("TIN TỨC", ["Báo chí", "Giải thưởng", "Videos", "RSS", "Lời chia sẻ", "Blogs", "Tin tức"])
                +dynamicList("VỀ MSI", ["Về MSI", "Tầm nhìn và Sứ mệnh", "Câu chuyện Thương hiệu", "Thông tin cho nhà đầu tư", "Không ngừng sáng tạo", "Chứng nhận", "CSR", "Tiêu chuẩn về chất lượng"])
                +dynamicList("TRUYỀN THÔNG", ["Cẩm nang Sản phẩm", "Hình nền", "Ứng dụng của MSI", "Tính công suất PSU"])
        nav.footer__info
            .footer__copyright
                +imagePNG("logo-footer")
                p.footer__legal Copyright © 2024 Micro-Star INT'L CO., LTD. All rights reserved.
            ul.footer__service
                +dynamicService("Cookie Policy")
                +dynamicService("Chính sách bảo vệ thông tin")
                +dynamicService("Điều khoản sử dụng")
                +dynamicService("Liên hệ")
                li.footer__service__item
                    a(href="#", target="_blank", rel="noopener noreferrer", class="footer__service__link")
                        +imagePNG("global")
                        span Vietnam / Tiếng Việt