header.header
    nav.navbar
        .navbar__container
            button.navbar__hamburger#hamburgerButton
                span.material-symbols-outlined
                    | menu
            .navbar__main#navbarMain
                .navbar__logo
                    a(href="#") 
                        +imagePNG('logo-header')
                ul.navbar__items
                    li.navbar__item
                        a(href="#") Sản phẩm
                    li.navbar__item 
                        a(href="#") Giải pháp AIoT
                    li.navbar__item 
                        a(href="#") Có gì mới
                    li.navbar__item 
                        a(href="#") Hỗ trợ
                    li.navbar__item 
                        a(href="#") Cộng đồng    
            .navbar__icon 
                +imagePNG('logo-account')
                +imagePNG('logo-map')
                +imagePNG('logo-search')
