header#header
    nav.nav
        .nav__container 
            button.mainArea__hamburger
                +linkLogo("menu")
            .mainArea__main
                a(href="#", target="_blank", rel="noopener noreferrer")
                    +imagePNG(`logo-header`)
                ul.menuAction
                    li.menuAction__item
                        +link("Sản phẩm")
                    li.menuAction__item
                        +link("Giải pháp AIoT")
                    li.menuAction__item
                        +link("Có gì mới")
                    li.menuAction__item
                        +link("Hỗ trợ")
                    li.menuAction__item
                        +link("Cộng đồng")
            .mainArea__operation
                +linkLogo("logo-account")
                +linkLogo("logo-map")
                +linkLogo("logo-search")


