include ../mixin/mixin
block vars
    -var title = 'Trang chủ MSI'
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title #{title}
        link(rel='preconnect', href='https://fonts.googleapis.com')
        link(rel='preconnect', href='https://fonts.gstatic.com', crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap', rel='stylesheet')
        link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200')
        script(src='./js/navigation.js')
        script(src='./js/simple-slider.js')
        script(src='https://kit.fontawesome.com/805854e023.js', crossorigin='anonymous')
        block head


    body
        include ./header
        block main
        include ./footer
